{% extends 'base.html' %}                       <!--Расширяем от базового шаблона-->

{% block content %}                             <!--Заполняем блок content для этого шаблона-->
    <h3>Погода в городе {{town_name}}</h3>      <!--Вставляем данные, переданные из функции-->
    <p>Состояние погоды: {{state}}</p>
    <p>Температура: {{temp}} °C</p>
    <p>Ощущается как: {{temp_feel}} °C</p>
    <p>Ветер: {{wind}} м/с</p>
    <p>Давление: {{pressure}} мм рт. ст.</p>
    <br>

    <table>
        <tr><th>Дата</th>
            {% for date in Date %}
                <td>{{date}}</td>               <!--Вставляем данные прогноза погоды-->
            {% endfor %}</tr>
        <tr><th>Время</th>
            {% for time in Time %}
                <td>{{time}}</td>
            {% endfor %}</tr>
        <tr><th>Температура</th>
            {% for temp in Temp %}
                <td>{{temp}}</td>
            {% endfor %}</tr>
    </table>
    <br>

    <p>Введите город, в котором вы хотели бы узнать погоду:</p>
    <form method="post">                        <!--Форма для ввода города-->
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Показать погоду</button>
    </form>
{% endblock %}